@import "../app/style/theme";
@import "../app/style/mixins";

/*.login-dialog-panel {
    font-family: $font-family;

    .mat-dialog-container {
        padding: 0;

        .create-club-dialog-header {
            display: flex;
            padding: 16px;
            justify-content: center;
            flex-direction: column;
            align-content: center;

            span {
                align-self: center;
            }
        }

        .create-club-dialog-body {

            .mat-tab-label {
                min-width: 50%;
            }

            .mat-tab-label, .mat-input-element {
                font-family: $font-family;
            }

            .login-form {
                margin-top: 16px;
                width: 100%;

                .mat-form-field {
                    width: 80%;
                    margin-left: 10%;
                }
            }
        }

        .create-club-dialog-footer {
            display: flex;
            justify-content: center;
            margin-top: 16px;

            button {
                width: 100%;
                padding: 16px;
                text-transform: uppercase;
                align-self: center;
            }
        }
    }
}*/
