@import "../app/style/theme";
@import "../app/style/mixins";

.so-user-profile {
    top: $header-height;
    position: relative;
    margin-top: $default-margin;

    .so-user-profile-container {
        display: flex;
        justify-content: center;

        #main-info-card {
            width: $wide-card-width;
            padding-bottom: 16px;

            .avatar-container {
                display: flex;
                justify-content: center;
                padding: $default-padding;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }

                .avatar-upload-overlay {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    &:hover {
                        span {
                            visibility: visible;
                        }
                    }

                    span {
                        visibility: hidden;
                        align-self: flex-end;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        background-color: #666;
                        opacity: 0.4;
                        text-shadow: 1px 1px 1px #000;
                        color: white;
                        text-align: center;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }

        #user-info-card {
            width: 100%;
        }

        .mat-card-actions {
            margin: 0;
        }
    }
}