<section class="so-user-profile container">
    <div class="row">
        <div class="col-md-12 so-user-profile-container">
            <mat-card id="main-info-card">
                <div class="row">
                    <div class="col-md-3 avatar-container">
                        <img height="128" [src]="userProfile.avatar" alt="logo" />
                        <div class="avatar-upload-overlay" (click)="fileInput.click()">
                            <input type="file" id="avatar" (change)="onAvatarChange($event)" [style.display]="'none'" #fileInput>
                            <span>Upload</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <mat-card-header class="flex-center">
                            <mat-card-title>
                                <mat-form-field>
                                    <input matInput placeholder="First Name" [(ngModel)]="userProfile.firstName"/>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Last Name" [(ngModel)]="userProfile.lastName"/>
                                </mat-form-field>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="flex-center-column">
                            <div class="flex-center">
                                <mat-form-field>
                                    <input matInput placeholder="Nickname" [(ngModel)]="userProfile.nickname" />
                                </mat-form-field>
                                <mat-form-field class="m-l-4">
                                    <input matInput [matDatepicker]="myDatepicker" [max]="pickerOptions.maxDate" [min]="pickerOptions.minDate" [(ngModel)]="userProfile.dateOfBirth"
                                           placeholder="Date of birth">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </div>
                    <div class="col-md-12">
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" (click)="updateMainUserInfo()">SAVE</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
        </div>
        <br/>
        <div class="col-md-12 so-user-profile-container m-t-20">
            <mat-card id="user-info-card">
                <mat-tab-group>
                    <mat-tab label="PERSONAL INFO">
                        <mat-grid-list cols="4" rowHeight="100px">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Phone" [(ngModel)]="userProfile.phone"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-address-card-o" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Address" [(ngModel)]="userProfile.address"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="City" [(ngModel)]="userProfile.city"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-location-arrow" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="auto" [formControl]="countryCtrl">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                                            <span>{{country.name}}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mat-grid-tile>
                            
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-facebook-official" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Facebook" type="url" [(ngModel)]="userProfile.facebook"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-twitter" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Twitter" [(ngModel)]="userProfile.twitter"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-vk" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="VK" [(ngModel)]="userProfile.vk"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-instagram" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Instagram" [(ngModel)]="userProfile.instagram"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            
                            <mat-grid-tile>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-skype" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Skype" [(ngModel)]="userProfile.skype"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <span matPrefix class="m-r-6"><i class="fa fa-envelope-o" aria-hidden="true"></i> </span>
                                    <input matInput placeholder="Alternative Email" [(ngModel)]="userProfile.alternativeEmail"/>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" (click)="updatePersonalUserInfo()">SAVE</button>
                        </mat-card-actions>
                    </mat-tab>
                    <mat-tab label="Two">
                        <h1>Some more tab content</h1>
                        <p>...</p>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</section>