<div class="login-dialog-header">
    <div class="text-center">
        <img height="128" [src]="logo" alt="logo" />
    </div>
    <!--<div>SALUTE ONLINE</div>-->
    <div class="so-logo clearfix text-center">
        <span class="logo-leftside">SALUTE</span>
        <span class="logo-rightside-black">ONLINE</span>
    </div>
</div>
<div class="login-dialog">
    <mat-tab-group class="login-tab-group">
        <mat-tab label="Login">
            <form class="login-form">
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" name="password">
                </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab label="Sign Up">
            <form class="login-form">
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" name="password">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirm password" [(ngModel)]="confirmPassword" name="confirmPassword">
                </mat-form-field>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="login-dialog-footer">
    <button mat-raised-button color="primary">Log In ></button>
</div>