@import "../app/style/theme.scss";
@import "../app/style/mixins.scss";

.header-actions-container {
    display: flex;
    height: $header-height;

    button {
        align-self: center;
    }

    .mat-fab.mat-primary.so-user-button {
        background-color: transparent;

        .mat-button-wrapper {
            display: flex;
            justify-content: center;
            padding: 0;
            width: 100%;
            height: 100%;

            img {
                align-self: center;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
}

.so-dropdown-text {
    margin-right: 16px;
}

.so-header {
    background-color: $background;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 900;
    height: $header-height;
    width: 100%;
    padding: 0 32px 0 40px;
}

.so-logo {
    display: block;
    font-size: 24px;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;

    &:focus, &:hover, &:visited {
        text-decoration: none;
    }

    .logo-leftside, .logo-rightside, .logo-rightside-black {
        font-family: $font-family-logo;
        outline: none !important;
    }

    .logo-leftside {
        color: $main-red;
        font-weight: bold;
        @include transition(all 0.2s ease-in);

        &:hover, &:focus {
            color: $main-red-hover;
        }
    }

    .logo-rightside {
        color: white;
    }

    .logo-rightside-black {
        color: $background;
    }
}

.so-hamburger {
    float: left;
    display: block;
    margin-left: 24px;
    margin-top: 20px;

    .hamburger {
        &:hover {
            cursor: pointer;
        }

        .line {
            width: 25px;
            height: 2px;
            background-color: $main-white;
            display: block;
            margin: 4px 0;
        }
    }
}

.messages-popup {
    font-size: $font-family;

    .messages-popup-header {
        padding-left: 16px;
        padding-right: 16px;

        h4 {
            font-family: $font-family;
            font-weight: bold;
        }
    }

    .messages-popup-item {
        cursor: pointer;

        &:hover {
            background-color: $main-blue-lighter;
        }

        padding: 8px;

        .mesage-item-container {
            padding: 8px;
            margin-bottom: 12px;
        }
    }

    .messages-popup-footer {
        button {
            width: 100%;
            padding: 16px;
            text-transform: uppercase;
            align-self: center;
        }
    }
}