<div class="so-header clearfix" maxHeight="50">
    <a [routerLink]="['/fetch-data']" class="so-logo clearfix">
        <span class="logo-leftside">SALUTE</span>
        <span class="logo-rightside">ONLINE</span>
    </a>
    <div class="so-hamburger" (click)="toggleMenu()">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    
    <div class="header-actions-container pull-right">
        <button mat-raised-button color="primary" *ngIf="!logged" (click)="openDialog()">Увійти</button>

        <button mat-mini-fab color="primary" class="m-r-16" *ngIf="logged" [matMenuTriggerFor]="messageMenu">
            <span>{{messages.length}}</span>
        </button>
        <mat-menu #messageMenu="matMenu">
            <div class="messages-popup">
                <div class="messages-popup-header m-t-20 m-b-16 text-center">
                    <h4>LATEST MESSAGES</h4>
                </div>
                <div class="messages-popup-item row no-gutters no-padding" *ngFor="let message of messages | slice:0:5; let i = index">
                    <div class="mesage-item-container">
                        <div class="col-md-2 no-gutters no-padding">
                            <img height="36" [src]="getAvatar(message.senderPhoto)" alt="logo" />
                        </div>
                        <div class="col-md-10 font-08 no-gutters no-padding">
                            <span>{{message.body | trancate : 70}}</span>
                        </div>
                        <div class="pull-right font-07">
                            {{message.created | amCalendar}}
                        </div>
                    </div>
                </div>
                <div class="messages-popup-footer text-center m-t-8">
                    <button mat-raised-button color="primary">VIEW ALL MESSAGES</button>
                </div>
            </div>
        </mat-menu>

        <button mat-fab [matMenuTriggerFor]="menu" color="primary" class="so-user-button" *ngIf="logged">
            <img [src]="avatar" alt="logo" />
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="gotoUserProfile()" class="m-t-8">
                <mat-icon>settings</mat-icon>
                <span class="so-dropdown-text">Профіль</span>
            </button>
            <button mat-menu-item (click)="logout()" class="m-b-8">
                <mat-icon>exit_to_app</mat-icon>
                <span class="so-dropdown-text">Вийти</span>
            </button>
        </mat-menu>
    </div>
</div>