@import "../app/style/theme";
@import "../app/style/mixins";

.login-dialog-panel {
    font-family: $font-family;

    .mat-dialog-container {
        padding: 0;

        .login-dialog {
            .mat-tab-label {
                min-width: 50%;
            }

            .mat-tab-label, .mat-input-element {
                font-family: $font-family;
            }

            .login-form {
                margin-top: 16px;
                width: 100%;

                .mat-form-field {
                    width: 80%;
                    margin-left: 10%;
                }
            }
        }
    }
}
