.mat-figure {
    &.full-width { 
        width: 100%;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.full-width {
    width: 100%;
}

a.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex-center-column {
    flex-direction: column;
}

.m-t-8 {
    margin-top: 8px;
}

.m-r-6 {
    margin-right: 6px;
}

.m-l-4 {
    margin-left: 4px;
}

.m-r-4 {
    margin-right: 4px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-t-20 { 
    margin-top: 20px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-r-16 {
    margin-right: 16px !important;
}

.font-07 {
    font-size: 0.7em;
}

.font-08 {
    font-size: 0.8em;
}

.font-10 {
    font-size: 1em;
}

.no-padding {
    padding: 0;
}