.custom-dialog {
  font-family: "Ubuntu Condensed", sans-serif; }
  .custom-dialog .mat-dialog-container {
    padding: 0; }
    .custom-dialog .mat-dialog-container .dialog-header {
      display: flex;
      padding: 16px;
      justify-content: center;
      flex-direction: column;
      align-content: center; }
      .custom-dialog .mat-dialog-container .dialog-header span {
        align-self: center; }
      .custom-dialog .mat-dialog-container .dialog-header .dialog-name {
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: bold; }
    .custom-dialog .mat-dialog-container .dialog-body .mat-tab-label {
      min-width: 50%; }
    .custom-dialog .mat-dialog-container .dialog-body .mat-tab-label, .custom-dialog .mat-dialog-container .dialog-body .mat-input-element {
      font-family: "Ubuntu Condensed", sans-serif; }
    .custom-dialog .mat-dialog-container .dialog-body .login-form {
      margin-top: 16px;
      width: 100%; }
      .custom-dialog .mat-dialog-container .dialog-body .login-form .mat-form-field {
        width: 80%;
        margin-left: 10%; }
    .custom-dialog .mat-dialog-container .dialog-footer {
      display: flex;
      justify-content: center;
      margin-top: 16px; }
      .custom-dialog .mat-dialog-container .dialog-footer button {
        font-family: "Ubuntu Condensed", sans-serif;
        width: 100%;
        padding: 16px;
        text-transform: uppercase;
        align-self: center; }

.mat-menu-content {
  padding: 0 !important; }

.mat-menu-panel {
  border-radius: 0 !important; }

.mat-card-content.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.mat-raised-button.large-button {
  padding: 4px 64px; }

.mat-mini-fab.header-fab-button {
  line-height: 30px;
  width: 32px;
  height: 32px; }
  .mat-mini-fab.header-fab-button .mat-button-wrapper {
    line-height: 0;
    font-size: 10px; }

.custom-tree.ui-tree {
  width: auto;
  border: none;
  background-color: transparent;
  color: #1F1F1F;
  font-size: 1.2em; }
  .custom-tree.ui-tree .ui-state-highlight {
    border-radius: 2px;
    background: #3f51b5; }

.mat-figure.full-width {
  width: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.full-width {
  width: 100%; }

a.disabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none; }

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.flex-center-column {
  flex-direction: column; }

.m-t-8 {
  margin-top: 8px; }

.m-r-6 {
  margin-right: 6px; }

.m-l-4 {
  margin-left: 4px; }

.m-r-4 {
  margin-right: 4px; }

.m-t-8 {
  margin-top: 8px; }

.m-r-8 {
  margin-right: 8px; }

.m-t-20 {
  margin-top: 20px; }

.m-b-16 {
  margin-bottom: 16px; }

.m-b-8 {
  margin-bottom: 8px; }

.m-r-16 {
  margin-right: 16px !important; }

.font-07 {
  font-size: 0.7em; }

.font-08 {
  font-size: 0.8em; }

.font-10 {
  font-size: 1em; }

.no-padding {
  padding: 0; }

html, body {
  background-color: #f6f6f6; }

