@import "style/theme.scss";
@import "style/components_override/material-dialog.scss";
@import "style/components_override/material-menu.scss";
@import "style/components_override/material-tabs.scss";
@import "style/components_override/material-card.scss";
@import "style/components_override/material-button.scss";
@import "style/custom";

html, body {
    background-color: #f6f6f6;
}