@import "../app/style/theme";
@import "../app/style/mixins";

.so-messages {
    top: $header-height;
    position: relative;
    margin-top: $default-margin;

    .so-messages-container {
        display: flex;
        justify-content: center;

        .message-item {
            cursor: pointer;

            &:hover {
                background-color: $main-blue-lighter;
            }

            padding: 8px;

            .mesage-item-container {
                padding: 8px;
                margin-bottom: 12px;
            }
        }
    }
}