@import "../theme.scss";
@import "../mixins.scss";

.custom-tree {
    &.ui-tree {
        width: auto;
        border: none;
        background-color: transparent;
        color: $background;
        font-size: 1.2em;

        .ui-state-highlight {
            border-radius: 2px;
            background: #3f51b5;
        }
    }
}