<div class="dialog">
    <div class="dialog-header login-dialog-header">
        <div class="text-center">
            <img src="~/assets/so-logo.png" alt="ASP.NET" class="img-responsive" height="128" />
        </div>
        <div class="so-logo clearfix text-center">
            <span class="logo-leftside">SALUTE</span>
            <span class="logo-rightside-black">ONLINE</span>
        </div>
    </div>
    <section class="dialog-body">
        <div class="text-center">
            <div class="success">
                <h3>Email confirmation</h3>
                <i class="material-icons">done</i>
            </div>
            <p class="p8">
                Thank you for confirming your email. Click on button below to log in.
            </p>
        </div>
        <div class="dialog-footer text-center">
            <a class="so-anchor" asp-action="Login">Log in ></a>
        </div>
    </section>
</div> 