<div class="dialog">
    <div class="dialog-header login-dialog-header">
        <div class="text-center">
            <img src="~/assets/so-logo.png" alt="ASP.NET" class="img-responsive" height="128" />
        </div>
        <div class="so-logo clearfix text-center">
            <span class="logo-leftside">SALUTE</span>
            <span class="logo-rightside-black">ONLINE</span>
        </div>
    </div>
    <section class="dialog-body">
        <div class="text-center">
            <div class="success">
                <h3>Reset password</h3>
                <i class="material-icons">done</i>
            </div>
            <p class="p16">
                Please check your email to reset your password.
            </p>
        </div>
        <div class="dialog-footer text-center">
            <a class="so-anchor" asp-action="ContactSupport">Contact support ></a>
        </div>
    </section>
</div> 