<section class="so-clubs-list container">
    <div class="row">
        <div class="col-md-12">
            <div class="button-row">
                <button mat-raised-button class="large-button" color="primary" (click)="createClub()">REGISTER NEW</button>
            </div>
            <br/>
            <mat-grid-list cols="2" rowHeight="240px" gutterSize="10px" class="so-clubs-list-container">
                <mat-grid-tile *ngFor="let club of clubs.items">
                    <mat-card class="club-card">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <img height="60" [src]="getClubAvatar(club.logo)" alt="logo" />
                            </div>
                            <mat-card-title>{{club.title}}</mat-card-title>
                            <mat-card-subtitle>{{club.city}}, {{club.country}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{club.description | trancate : 220}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="primary">OPEN</button>
                            <button *ngIf="club.canBeEdited" mat-button>MANAGE</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</section>