@import "../app/style/theme";
@import "../app/style/mixins";

.so-protocol {
    top: $header-height;
    position: relative;
    margin-top: $default-margin;

    .protocol-main {
        padding: 8px;

        .protocol-header {
            display: flex;
            padding: 8px;
            justify-content: center;
            flex-direction: column;
            align-content: center;

            .so-logo {
                line-height: 24px;
            }

            span {
                align-self: center;
            }

            .protocol-name {
                font-family: $font-family;
                font-weight: bold;
            }
        }

        .protocol-body {
            table {
                th {
                    font-weight: normal;
                    font-size: 0.9em;
                    font-family: $font-family;
                }
            }
        }
    }
}
