@import "../app/style/theme.scss";
@import "../app/style/mixins.scss";

.so-protocol {
    top: $header-height;
    position: relative;
    margin-top: $default-margin;

    .protocol-main {
        padding: 8px;

        .protocol-header {
            display: flex;
            padding: 8px;
            justify-content: center;
            flex-direction: column;
            align-content: center;

            .so-logo {
                line-height: 24px;
            }

            span {
                align-self: center;
            }

            .protocol-name {
                font-family: $font-family;
                font-weight: bold;
            }
        }

        .protocol-body {
            table {
                th {
                    font-weight: normal;
                    font-size: 0.9em;
                    font-family: $font-family;
                }
            }
        }
    }

    .nickname-autocomplete, .role-select, .foul-input {
        width: 100%;

        .mat-form-field-placeholder-wrapper {
            padding-top: 0;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field-underline {
            bottom: 0;
        }

        .mat-form-field-infix {
            border-top: 0;
        }

        .mat-form-field-underline {
            background-color: rgba(0,0,0,.22);
            display: none;
        }
    }

    .player-index {
        vertical-align: middle;
    }

    .role-td {
        .mat-form-field {
            display: inline;
        }
    }
}
