<section class="so-protocol container">
    <div class="row">
        <div class="protocol-left-side col-md-3">
            <mat-card>
                <mat-form-field *ngIf="myClubs.length">
                    <mat-select placeholder="Target club" [(value)]="selectedClub">
                        <mat-option [value]="0">None</mat-option>
                        <mat-option *ngFor="let club of myClubs" [value]="club.id">{{ club.title }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Game">
                        </mat-form-field>  
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Table">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-7">
            <mat-card class="protocol-main">
                <mat-card-title>
                    <div class="protocol-header">
                        <div class="so-logo clearfix text-center">
                            <span class="logo-leftside">SALUTE</span>
                            <span class="logo-rightside-black">ONLINE</span>
                        </div>
                        <h2 class="protocol-name text-center">
                            PROTOCOL
                        </h2>
                    </div>
                </mat-card-title>
                <div class="protocol-body">
                    <table class="table table-responsive" *ngIf="protocol.players">
                        <thead>
                            <tr>
                                <th class="action-td text-right"></th>
                                <th class="player-index text-right">#</th>
                                <th class="text-center">NICKNAME</th>
                                <th class="text-center">ROLE</th>
                                <th class="text-center">FOULS</th>
                                <th class="text-center">BEST</th>
                                <th class="text-center">RESULT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of protocol.players; let i = index">
                                <td class="text-center action-td">
                                    <button mat-icon-button color="warn" class="small-icon-button">
                                        <mat-icon aria-label="Icon-button with a close icon">close</mat-icon>
                                    </button>
                                </td>
                                <td class="text-center player-index noselect center-vertical">
                                    <div class="player-index-container">{{player.index}}</div>
                                </td>
                                <td class="col-md-4">
                                    <mat-form-field class="m-r-4 nickname-autocomplete">
                                        <input matInput aria-label="Nickname" [matAutocomplete]="auto" [(ngModel)]="player.nickname" (ngModelChange)="nicknameOnChange(player)">
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="nicknameSelected(player)">
                                            <mat-option *ngFor="let nickname of filteredNicknames | async" [value]="nickname">
                                                <span>{{nickname}}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td class="role-td col-md-2">
                                    <mat-form-field class="role-select">
                                        <mat-select>
                                            <mat-option> </mat-option>
                                            <mat-option *ngFor="let role of player.rolesAvailable" [value]="role.role">
                                                {{ role.label }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="text-center col-md-1">
                                    <mat-form-field class="foul-input">
                                        <input matInput type="number" [(ngModel)]="player.foul">
                                    </mat-form-field>
                                </td>
                                <td class="col-md-2">
                                    <mat-form-field class="foul-input">
                                        <input matInput type="number" [(ngModel)]="player.foul">
                                    </mat-form-field>
                                </td>
                                <td class="text-center col-md-1">
                                    <mat-form-field class="foul-input">
                                        <input matInput type="number" [(ngModel)]="player.result">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div class="protocol-right-side col-md-2">
            Right
        </div>
    </div>
</section>